* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    padding: 0%;
    display: grid;
    grid-template-rows: 70px auto;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
}

/* navigation bar styles */

header {
    grid-row-start: 1;
    grid-row-end: 2;
}

.content {
    grid-row-start: 2;
    grid-row-end: 3;
}

.navbar {
    list-style-type: none;
    margin: 0% 15%;
    padding: 0;
}

.listelements {
    padding: 0 2%;
    display: inline-block;
    font-family: sans-serif;
    color: whitesmoke;
    font-size: 24px;
    font-weight: bold;
    border-radius: 0 0 15px 15px;
}

.left {
    float: left;
}

.right {
    float: right;
    padding: 2%;
}

.logo {
    font-family: 'Dosis', sans-serif;
    font-size: 56px;
    color: whitesmoke;
}

.right:hover {
    color: #0E3746;
}

.active {
    background-color: whitesmoke;
    color: #0E3746;
}